.container {
    width: 200px;
    display: grid;
    grid-row-gap: 10px;
}

.foodTitle {
    font-size: 14px;
    color: var(--charcoal_black);
    letter-spacing: 0.14px;
    text-transform: uppercase;
}

.foodDesc {
    font-size: 15px;
    letter-spacing: 0.15px;
    color: #767676;
    font-family: var(--font_family_2);
}

.priceBox {
    border: 2px solid #ffdac9;
    padding: 4px 12px;
    width: fit-content;
}

.price {
    color: var(--charcoal_black);
    font-size: 14px;
    letter-spacing: 0.14px;
}
