.container {
    /* margin-left: 80px; */
    padding-top: 90px;
    padding-bottom: 40px;
    background-color: #fdfdfd;
    position: relative;
    z-index: 10;
}

.headerTitles {
    display: flex;
    width: 1075px;
    justify-content: space-between;
    margin: 0 auto;
}

.title {
    font-size: 35px;
    color: var(--charcoal_black);
}

.dish_section {
    padding-right: 40px;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 25px;
    position: relative;
    overflow-x: hidden;
    padding-top: 65px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.prevNextBtn {
    display: flex;
    width: 1075px;
    justify-content: flex-end;
    margin: 0 auto;
    margin-top: 38px;
    gap: 15px;
}

.prevNextBtn img {
    cursor: pointer;
}

.imgPrevBtn.active {
    transform: rotate(180deg);
}

.imgNextBtn.inactive {
    transform: rotate(180deg);
}
