.menuContainer {
    background-color: #f8f8f8;
    position: relative;
    border-top: 1px solid #ebebeb;
}

.menuTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 48px;
}

.foodCardContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 160px 32px 66px;
}

.foodCardContainer:nth-child(2) {
    padding-top: 100%;
}
.foodCardContainer:nth-child(3) {
    padding-top: 80%;
}
.foodCardContainer:nth-child(4) {
    padding-top: 70%;
}
.foodCardContainer + .foodCardContainer {
    border-left: 1px solid #cecece;
}

.foodTypeContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    margin: 0 auto;
}
