.menuContainer {
    background-color: #f8f8f8;
    position: relative;
}

.menuTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 48px;
    z-index: 5;
}

.foodTypeContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
    margin: 0 auto;
}

.foodCardContainer {
    background-color: #f8f8f8;
    position: relative;
}

.foodCardContainer:nth-child(1) {
    z-index: 4;
}
.foodCardContainer:nth-child(2) {
    z-index: 3;
}
.foodCardContainer:nth-child(3) {
    z-index: 2;
}

.foodCardContainer > div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 160px 32px 66px;
}

.foodCardContainer:nth-child(2) > div {
    padding-top: 100%;
}
.foodCardContainer:nth-child(3) > div {
    padding-top: 80%;
}
.foodCardContainer:nth-child(4) > div {
    padding-top: 70%;
}
.foodCardContainer + .foodCardContainer {
    border-left: 1px solid #cecece;
}
