.container {
    font-size: 18px;
    text-align: center;
    font-weight: var(--font_weight_bold);
    letter-spacing: 0.18px;
    display: inline-flex;
    text-transform: uppercase;
    margin-top: 4px;
    height: 30px;
    align-items: center;
    padding: 0 8px;
}

.variant_1 {
    background-color: #ffdac9;
    color: var(--charcoal_black);
}

.variant_2 {
    background-color: var(--charcoal_black);
    color: #ffdac9;
}

.text {
    line-height: 1;
}
