@font-face {
    font-family: "DIN Condensed";
    src: url(./fonts/DIN\ Condensed\ Bold.ttf);
}

@font-face {
    font-family: "Menu GillSans";
    src: url(./fonts/GillSans.ttc);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font_family_1: "DIN Condensed";
    --font_family_2: "Menu GillSans";
    --logo_font_size: 28px;
    --subtitle_font_size: 18px;
    --font_weight_bold: 700;
    --font_weight_regular: 400;
    --charcoal_black: #333333;
}

body {
    font-family: var(--font_family_1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

@media only screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        height: 5px;
        width: 0;
    }
}

/* html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.menu_section {
    scroll-snap-align: start;
} */

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin: 4px 0 4px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
