.container {
    width: 200px;
    position: relative;
    left: -42px;
    padding-bottom: 12px;
}

.titleText {
    font-size: 62px;
    color: var(--charcoal_black);
    line-height: 0.9;
    text-transform: uppercase;
}
