.container {
    width: 200px;
    position: relative;
    left: -16px;
}

.titleText {
    font-size: 40px;
    color: var(--charcoal_black);
    font-weight: var(--font_weight_bold);
    line-height: 0.9;
    text-transform: uppercase;
}
